<html>
    <head>
              <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>
        <!-- Start app div blocking in wear on page appear, manages how it looks in the web pages -->
        <div id="app">
            <h1>Hello Vue Forms</h1>

            <label for="name">Please enter your name: </label>
            <br> <!--I had to add break to have label and input on top, otherwise next eachother.-->
            <input v-model="name" id="name"> 
            <!--new v-model connect to view data object name element. two way data binding-->
            <!--one way is the lisner input data is typed in the input box change the vue data.-->
            <!-- second is chaging the data in Vue changes text in the input box-->
            <!-- also connects with the clear button this.name then check if and else.  -->
            <!-- v-if element gives a new look Your anme doesn't appear until a name is typed
            maybe only use this with name. can creat a condition .length > 3 -->
            <p v-if="name">  <!--condional rendering (display) name.-->
                Your name is: {{ name }}
                <button v-on:click="clear">Clear input</button> <!--calls clear merthod when clicked-->
            </p> 
            <p v-else>
                Waiting for user input.  <!--rendering-->
            </p>

        </div><!--end app div  -->
                <!--script code start-->
        <script> 
            // vue instance and manages the view in html.module or data. look and click on braces find your starts and end pairs!
           let app = Vue.createApp({
               data() {          // what data(function) are we going to enter, name. 
                   return{
                       name: '' //function called name empty string .
                   }
               },
               methods: {
                   clear(){
                       this.name = '' //setting name to an empty string.
                   }
               }
           })

           app.mount('#app') // associates Vue with app div section of html code.

        </script><!--script end-->

    </body><!--end of body frame and html frame. -->
</html>